* {
    font-family: 'Source Sans Pro';
}

body {
    background-color: #111827;
    text-align: center;
}

.title {
    font-weight: 300;
    color: #9ca3af;
    font-size: 4rem;
}

.tibue99 {
    font-size: 6rem;
    font-weight: 700;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    height:fit-content;
    
}

.inner-container {
    color: black;
}

.item {
    margin: 18px;
    border-radius: 10px;
    width: 500px;
    min-height: 300px;
    font-size: 3rem;
    background-color: #1f2937;
    color: #9ca3af;
    transition-duration: 0.2s;
}

.item:hover {
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 .2rem .5rem rgba(0,0,0,0.3), 0 1rem .5rem rgba(0,0,0,0.22)
}


/*
@keyframes in {
    0% {
        transform: scale(1);
    }
    
    100% {
        transform: scale(1.1);
    }
}

@keyframes out {
    0% {
        transform: scale(1.1);
    }
    
    100% {
        transform: scale(1);
    }
}
*/

.discord {
    /*background-color: #5865F2;*/
}

.fiverr {
     /*background-color: #00c661;*/
    
}

.github {
    /* background-color: #101414;*/
}

.box-img {
    height: 128px;
    
    margin-top: 5%;
}