* {
    font-family: 'Source Sans Pro';
}

:root {
    --bg-color: #111827;
    --item-color: #1f2937;
    --text-color: #9ca3af;
}

body {
    background-color: var(--bg-color);
    text-align: center;
}

.main-text {
    color: var(--text-color);
    font-size: 4rem;
    font-weight: 300;
}

.tibue99 {
    font-size: 6rem;
    font-weight: 700;
}

.tibue99:hover {
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 5%;
    margin-top: 0%;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    margin-top: 3%;
    height: 40%;
    color: black;
}

.item {
    margin: .85rem;
    width: 400px;
    min-width: 350px;
    height: 200px;
    border-radius: .75rem;
    font-size: 3rem;
    color: var(--text-color);
    background-color: var(--item-color);
    transition-duration: 0.2s;
    overflow: hidden;
}

.title-item {
    margin-right: 5%;
    color: var(--text-color);
}

.item:hover {
    transform: scale(1.1);
    box-shadow: 0 .2rem .5rem rgba(0,0,0,0.3), 0 1rem .5rem rgba(0,0,0,0.22)
}

.item:hover .title-txt {
    color: white;
}

.title-img {
    height:70%; 
}

.title-txt {
    font-size: 80%;
}

.body-text {
    font-size: 50%;
    margin: 5%;
    margin-top: -3%;
}