* {
    font-family: 'Source Sans Pro';
}

body {
    background-color: #111827;
    text-align: center;
}

.main-text {
    font-weight: 300;
    color: #9ca3af;
    font-size: 4rem;
}

.tibue99 {
    font-size: 6rem;
    font-weight: 700;
}

.tibue99:hover {
    color: #fff;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    height:fit-content;
}

.title-container {
    display: flex;
    color: black;
    margin: 5%;
    margin-top: 3%;
    height: 40%;
    align-items: center;
    justify-content: center;
}

.item {
    margin: 18px;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    font-size: 3rem;
    background-color: #1f2937;
    color: #9ca3af;
    transition-duration: 0.2s;
}

.title-item {
    margin-right: 5%;
    border-radius: 10px;
    background-color: #1f2937;
    color: #9ca3af;
    transition-duration: 0.2s;
}

.item:hover {
    transform: scale(1.1);
    box-shadow: 0 .2rem .5rem rgba(0,0,0,0.3), 0 1rem .5rem rgba(0,0,0,0.22)
}

.item:hover .title-txt {
    color: #fff;
}

.title-img {
    height:70%; 
}

.title-txt {
    font-size: 80%;
}

.body-text {
    font-size: 50%;
    margin: 5%;
    margin-top: -3%;
}