* {
    font-family: 'Source Sans Pro';
    font-weight: 300;
}

:root {
    --bg: #111827;
    --item: #1f2937;
    --text: #9ca3af;
}

b {
    font-weight: 700;
}

body {
    background-color: var(--bg);
    text-align: center;
    color: var(--text)
}

.tibue99 {
    display: inline-block;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: -1rem;
    margin: 0%;
    margin-top: 2%;
    text-align: center;
    transition-duration: 1s;
    animation: .7s top-slide;
}

.sub-headline {
    font-weight: 300;
    font-size: 1.75rem;
    margin: 3%;
    margin-bottom: 3rem;
    margin-top: 0%;
    animation: .7s left-slide;
}

.tibue99:hover {
    transform: rotateY(360deg);
    color: white;
    transition-duration: 20s;
    transition-delay: 5s;
}

@keyframes top-slide {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes left-slide {
    0% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0);
    }
}

.container {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 2%;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    margin-top: 3%;
    height: 40%;
    color: black;
}

.item {
    margin: .85rem;
    width: 400px;
    min-width: 350px;
    height: 200px;
    border-radius: .75rem;
    font-size: 3rem;
    color: var(--text);
    background-color: var(--item);
    transition-duration: 0.2s;
    overflow: hidden;
    animation: .7s item-slide;
}

@keyframes item-slide {
    0% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0);
    }
}

.title-item {
    margin-right: 5%;
    color: var(--text);
}

.item:hover {
    transform: scale(1.1);
    box-shadow: 0 .2rem .5rem rgba(0,0,0,0.3), 0 1rem .5rem rgba(0,0,0,0.22)
}

.item:hover .title-txt {
    color: white;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(0, 255, 242), 0 -10px 20px #00f7ffb2, 0 -18px 40px rgb(0, 255, 21);
}

.title-img {
    height:70%; 
}

.title-txt {
    font-size: 80%;
    color: white;
}

.body-txt {
    font-size: 50%;
    margin: 5%;
    margin-top: -3%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--text);
}